#primerul 
{
	display: inline-block;
	background: red;
	color: white;
}

#segundoul
{	
	background: green;
	color: yellow;

}
.explota
{
	background: blue;
	color: red;
}

.samsung
{
	background: blue;
	color: white;
}