/* selectores */
/*0-directivas @*/
/*1. etiquetas */
/*2. identificadores */
/*3. clases */

@font-face
{
	font-family: 'Coming Soon';
	src: url('fuentes/Coming_Soon/ComingSoon.ttf');
	font-family: 'Pacifico';
	src: url('fuentes/Pacifico/Pacifico.ttf');

}

body /*selector -etiqueta*/
{
	/*atributo:valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	max-width: 1024px;
	font-size: 16px; /*tamaño de fuente estandar*/
	margin: 0px auto;º
}
footer
{
	border: 1px solid green;
	font-size: 0.8em;
	text-align: center;
}

header h1
{
	font-family: 'Roboto';
}
header
{
	background: blue;
	border: 1px solid red;
	color: white; /*letra*/
	text-align: center; /*alineacion*/
	padding: 0px 0px 10px 0px;
}

header img
{
	float: right; 
	margin: -70px 10px 0px 0px;
	width: 100px;
}

header nav ul li 
{

	/*border: 1px solid yellow;*/
	background: red;
	border-radius: 5px;
	box-shadow: 3px 3px; /*sombrita del box*/
	display: inline-block; /*rompe el modelo de caja*/
	color: black;
	font-family: 'Open Sans';
	border: 1px solid red;
	padding: 5px 15px;
	margin: 0px 10px 50px 10px;
	width: 80px;

}


header nav ul li:hover /*mause por ensima*/
{
	background: white;
	color: orange;

}

main section article
{
	/*border: 1px solid black;*/
	display: inline-block;
	width: 24%;
	font-family: 'Pacifico';
	vertical-align:  top; /*alinea las cajas de arriba hacia abajo*/
	margin-top: 5px; /*baja las letras de lo azul*/


}



















