body 
{
	border: 1px solid red;
	font-family: arial;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}
header
{
	background: #B3D8E8; /*color de fondo*/
}

form input[type="button"]
{
	background: green;
	border: 0px;
	color: white;
}
form
{
	float: right;
	margin: -45px 15px 0px 0px;
}
form input
{
	border-radius: 5px;
}
header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	margin: 0 auto;
	width: 99%; 
}

header nav ul li 
{
	color: white;
	display: inline-block;
	margin: 0px 20px 0px 0px;
	padding: 8px 0px 8px 0px;
}

#logo
{
	
	margin: -150px 0px 0px 0px;
}

#seccion01 article
{
	text-align: center;
}

#seccion01 article img
{

	border: 5px solid rgba(150,150,150,0.5);
	margin: 0px 0px 0px 0px;
}
#seccion02   
{
	margin: 0 auto;
}
#seccion02 article
{
	display: inline-block;
	vertical-align: top;
	width: 32%;
}
/*#seccion02 article input 
{
	

}*/

.otraseccion,.unaseccion
{
	font-family: arial;
	font-weight: bold;
}
.otraseccion
{
	font-size: 2.5em;
}
.unaseccion
{
	font-size: 4.5em;
}
.boton1 
{
	border: 1px solid rgba(150,150,150,0.5);
	background:   rgba(150,150,150,0.2);
	color: blue;
	font-size: 1em;
	border-radius: 3px;
	padding: 5px 9px 5px 9px;
	margin: 5px 0px 0px 100px;
}
.boton2 
{
	border: 1px solid rgba(150,150,150,0.5);
	background:   rgba(150,150,150,0.2);
	color: blue;
	font-size: 1em;
	border-radius: 3px;
	padding: 5px 9px 5px 9px;
	margin: -3px 0px 0px 100px;
}














