body 
{
	border: 1px solid blue;
	font-family: arial;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}
header
{
	background: #B3D8E8; /*color de fondo*/
}
form input[type="button"]
{
	background: green;
	border: 0px;
	color: white;
}
form
{
	float: right;
	margin: -45px 15px 0px 0px;
}
form input
{
	border-radius: 5px;
}
header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	margin: 0 auto;
	width: 99%;
}

header nav ul li 
{
	color: white;
	display: inline-block;
	margin: 0px 20px 0px 0px;
	padding: 8px 0px 8px 0px;
}

#logo
{
	
	margin: -150px 0px 0px 0px;
}

