body
{
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1078px; /*desicion de la empresa*/
	min-width: 1078px;
}
header input
{
	float: right;
	margin-right: -200px;
	margin-top: 13px;
	position: relative; /* esto te manda una imagen de atras hacia delante*/
}
header nav ul li 
{
	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 8px;
}
header nav
{
	margin-left: 220px;
}
#bgoffer
{
	position: relative;
	top: -410px;
	left: -30px;
}
#granthams 
{
	margin-top: 20px;
	margin-left: 25px;
}
#paint
{
	float: right;
	margin-top: 15px;
}
#primeraseccion
{
	height: 317.99px;
	margin-top: 70px;
}
#primeraseccion article
{
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
}

#segundaseccion article
{
	padding-right: 180px;
}
#terceraseccion article
{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
#secc01art01
{
	width: 60%;
}
#secc01art02
{
	width: 30%;
}
.numerotelefono
{
	color: #FF0099;
	font-size: 2em;
	font-weight: bold;
	float: right;

}
.wecanoffer
{
	color: #FF0099;
	font-size: 3.5em;
	font-weight: bold;
}

